/* You can add global styles to this file, and also import other style files */
.tituloprin{
    text-align: center;
    background-color: rgba(44, 9, 168, 0.39);
}

.tituloseg{
    text-align: center;
    background-color:rgba(2, 6, 248, 0.856);
}